* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

/* MainCointainer */
.mainContainer {
  margin: 15px 100px 0 100px;
}

/* Navbar Component  */
.containerNavbar {
  display: flex;
  column-gap: 10px;
  background-color: #fb6600;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  font-size: 20px;
}

.logo {
  border: solid 1px white;
  width: 25px;
  height: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title {
  font-weight: bold;
}
.login:last-of-type {
  margin-left: auto;
  margin-right: 10px;
}

/* //MAIN */
.main {
  background-color: #f6f6ef;
  padding: 15px 0px 15px 15px;
}

.entry {
  display: flex;
  column-gap: 5px;
  align-items: center;
  padding-top: 0.5rem;
}

.entry_2 {
  display: flex;
  column-gap: 5px;
  align-items: center;
  color: grey;
  padding-bottom: 0.5rem;
  border-bottom: solid grey 1px;
}
.url {
  color: grey;
}

.triangle {
  color: gray;
}

.loader {
  display: flex;
  justify-content: center;
}

ol {
  padding: 0 1rem;
}

.searchBar {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #f6f6ef;
  border-bottom: solid 1px grey;
}

input {
  margin-left: 1rem;
}

.footContainer {
  background-color: #f6f6ef;
  display: flex;
  justify-content: center;
  padding: 3rem;
  gap: 0.5rem;
  border-top: solid grey 3px;
}

.more {
  font-size: 1.3rem;
  margin: 1rem;
  cursor: pointer;
  max-width: 5rem;
}

.jokeContainer {
  text-align: center;
}

.jokes {
  padding: 0.7rem;
  .mainJoke {
    cursor: pointer;
  }
}
